body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #000;
  font-size: 7rem;
  margin: 0;
  margin-bottom: 20px;
}

h1.plus {
  color: #2a9d8f;
}
h1.minus {
  color: #e63946;
}

h2 {
  font-size: 2rem;
  margin: 0;
  color: #556581;
}

button {
  background: transparent;
  border: 2px solid transparent;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.05s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}

button.minus {
  background-color: #e63946;
  color: #fff;
  box-shadow: 0 4px 0 #e63946;
  border: 1px solid #e63946;
}

button.plus {
  background-color: #2a9d8f;
  color: #fff;
  box-shadow: 0 4px 0 #2a9d8f;
  border: 1px solid #2a9d8f;
}
